<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://test.11ka.wang/BaseWebviewApp.ipa</string>
		<key>displayImageURL</key>
		<string>https://test.11ka.wang/app_logo.png</string>
		<key>fullSizeImageURL</key>
		<string>https://test.11ka.wang/app_logo.png</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.org.BaseWebviewApp</key>
		<string>profile-adHoc-innerTest</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>5XHQ3UAG4W</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
